.contacts {
  @extend %list;
  display: inline-block;

  @media screen and (min-width: $tablet) {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    align-items: center;
  }

  &__item {
    font-size: 18px;
    line-height: 1.167;

    @media screen and (min-width: $tablet) {
      font-size: 12px;
      line-height: 1.143;
    }

    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: 1.172;
    }

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 16px;
      }

      @media screen and (min-width: $tablet) and (max-width: 1199px) {
        margin-bottom: 10px;
      }

      @media screen and (min-width: $desktop) {
        margin-right: 30px;
      }
    }
  }
}
