.footer-box {
  @media screen and(max-width:1199px) {
    margin-bottom: 60px;
  }

  @media screen and(min-width: $tablet) {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
  }

  @media screen and(min-width: $desktop) {
    margin-left: 0;
    margin-right: 0;
  }
}
