.footer__social {
  @media screen and(max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and(min-width: $tablet) {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(50% - 30px);
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    min-width: 270px;
    margin-left: 0;
    margin-right: 30px;
  }
}
