.menu-container {
  line-height: 1.167;
  background-color: $primary-bg-color;
  width: 100%;

  z-index: 3;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;

    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    font-size: 18px;

    &.is-open {
      display: block;
    }
  }

  @media screen and(min-width:$tablet) {
    display: flex;
    align-items: center;

    margin-left: 88px;
  }

  @media screen and(min-width:$desktop) {
    margin-left: 93px;
  }
}
