.modal__form {
  text-align: center;

  .modal__title {
    display: inline-block;
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;

    color: $title-text-color;

    @media screen and (min-width: $desktop) {
      line-height: 1.15;
    }
  }
}
