.section-title {
  margin-top: 0;
  text-align: center;

  font-weight: 700;

  @media screen and(max-width:1199px) {
    margin-bottom: 30px;

    font-size: 28px;
    line-height: 1.179;
  }

  color: $title-text-color;

  @media screen and(min-width:$desktop) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
  }
}
